## 1
Reading CSV

from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.getOrCreate()

In [10]:
spark

In [8]:
data_path = '/Users/aaron/Downloads/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data'

In [9]:
file_path = data_path + '/location_temp.csv'
df1 = spark.read.format('csv').option('header','true').load(file_path)

In [11]:
df1.head(5)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27')]

In [12]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [13]:
df1.count()

500000

In [14]:
flie_path_no_header = data_path + '/utilization.csv'
df2 = spark.read.format('csv').option('header','false').option('inferSchema','true').load(flie_path_no_header)

In [16]:
df2.count()

500000

In [17]:
df2.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [19]:
df2 = df2.withColumnRenamed('_c0','event_datetime') \
         .withColumnRenamed('_c1','server_id') \
         .withColumnRenamed('_c2','cpu_utilization') \
         .withColumnRenamed('_c3','free_memory') \
         .withColumnRenamed('_c4','session_count')

In [21]:
df2.show(5)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
+-------------------+---------+---------------+-----------+-------------+
only showing top 5 rows

## 2
JSON Files

In [22]:
from pyspark.sql import SparkSession

In [24]:
spark = SparkSession.builder.getOrCreate()

In [25]:
data_path = '/Users/aaron/Downloads/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data'

In [27]:
json_df1_path = data_path + '/utlization.json'
df1 = spark.read.format('json').load(json_df1_path)

In [28]:
df1.count()

500000

In [29]:
df1.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

## 3
Operations

In [30]:
df1.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [36]:
df1_sample = df1.sample(False, fraction = 0.1)

In [38]:
df1_sample.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.61|03/05/2019 09:51:14|       0.34|      100|           70|
|           0.44|03/05/2019 09:56:14|       0.48|      100|           63|
|           0.57|03/05/2019 10:46:14|       0.46|      100|           50|
|           0.44|03/05/2019 11:16:14|       0.47|      100|           43|
|           0.65|03/05/2019 12:21:14|       0.37|      100|           65|
|           0.58|03/05/2019 12:51:14|       0.49|      100|           42|
|           0.39|03/05/2019 15:01:14|       0.52|      100|           48|
|           0.34|03/05/2019 15:41:14|       0.46|      100|           62|
|           0.63|03/05/2019 15:51:14|       0.66|      100|           44|
|           0.29|03/05/2019 16:21:14|       0.53|      100|           43|
|           0.66|03/05/2019 16:51:14|       0.35|      100|           64|
|           0.35|03/05/2019 17:06:14|       0.66|      100|           44|
|           0.34|03/05/2019 17:26:14|       0.61|      100|           52|
|            0.3|03/05/2019 17:31:14|       0.67|      100|           41|
|           0.39|03/05/2019 19:26:14|       0.47|      100|           67|
|           0.55|03/05/2019 23:06:14|       0.33|      100|           66|
|           0.35|03/05/2019 23:21:14|       0.64|      100|           38|
|           0.29|03/06/2019 00:06:14|        0.6|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [40]:
df1_sort = df1.sort('event_datetime')
df1_sort.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.86|03/05/2019 08:06:16|       0.09|      101|           93|
|           0.61|03/05/2019 08:06:17|       0.12|      102|           71|
|           0.64|03/05/2019 08:06:19|       0.32|      103|           96|
|           0.84|03/05/2019 08:06:21|       0.36|      104|           94|
|           0.54|03/05/2019 08:06:23|       0.38|      105|           74|
|            0.4|03/05/2019 08:06:24|       0.39|      106|           43|
|           0.64|03/05/2019 08:06:26|       0.55|      107|           56|
|           0.62|03/05/2019 08:06:28|       0.41|      108|           86|
|            0.7|03/05/2019 08:06:29|       0.59|      109|           77|
|           0.68|03/05/2019 08:06:31|       0.44|      110|           47|
|           0.48|03/05/2019 08:06:33|       0.25|      111|           70|
|           0.71|03/05/2019 08:06:34|       0.27|      112|           86|
|           0.69|03/05/2019 08:06:36|       0.38|      113|           71|
|           0.48|03/05/2019 08:06:38|       0.48|      114|           52|
|           0.78|03/05/2019 08:06:40|       0.22|      115|           62|
|            0.4|03/05/2019 08:06:41|       0.53|      116|           51|
|           0.71|03/05/2019 08:06:43|       0.61|      117|           60|
|           0.78|03/05/2019 08:06:45|       0.45|      118|           68|
|           0.51|03/05/2019 08:06:46|       0.49|      119|           53|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

## 4
DF API

In [44]:
file_path = data_path + '/location_temp.csv'
df1 = spark.read.format('csv').option('header','true').load(file_path)

In [45]:
df1.show(5)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 5 rows

In [48]:
df1.filter(df1['location_id'] == 'loc0').show(5)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 5 rows

In [49]:
df1.filter(df1['location_id'] == 'loc0').count()

1000

In [51]:
df1.filter(df1['location_id'] == 'loc5').count()

1000

## 5
Aggregation

In [55]:
df1.groupBy('location_id').count().show(5)

+-----------+-----+
|location_id|count|
+-----------+-----+
|      loc22| 1000|
|      loc31| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
+-----------+-----+
only showing top 5 rows

In [58]:
df1.orderBy('location_id').show(5)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
+-------------------+-----------+------------+
only showing top 5 rows

In [60]:
df1.groupBy('location_id').agg({'temp_celcius' : 'mean'}).show(5)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|      loc22|           28.251|
|      loc31|           25.196|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
+-----------+-----------------+
only showing top 5 rows

In [61]:
df1.groupBy('location_id').agg({'temp_celcius' : 'max'}).show(5)

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|       loc0|               36|
|       loc1|               35|
|      loc10|               32|
|     loc100|               34|
|     loc101|               32|
+-----------+-----------------+
only showing top 5 rows

## 6 
Sampling

In [62]:
df1.count()

500000

In [65]:
df1_s1 = df1.sample(fraction = 0.1, withReplacement = False)
df1_s1.count()

50288

In [67]:
df1_s1.groupBy('location_id').agg({'temp_celcius' : 'mean'}).show(5)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|      loc22|             28.46|
|      loc31| 25.63716814159292|
|      loc82|          27.46875|
|      loc90|22.935185185185187|
|     loc118|23.855855855855857|
+-----------+------------------+
only showing top 5 rows

In [68]:
df1_s1.groupBy('location_id').agg({'temp_celcius' : 'mean'}).orderBy('location_id').show(5)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.216216216216218|
|       loc1|28.263636363636362|
|      loc10| 25.11111111111111|
|     loc100| 27.22772277227723|
|     loc101| 25.57843137254902|
+-----------+------------------+
only showing top 5 rows

In [69]:
df1.groupBy('location_id').agg({'temp_celcius' : 'mean'}).orderBy('location_id').show(5)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
+-----------+-----------------+
only showing top 5 rows

## 7
Saving

In [70]:
df1.write.csv('df1.csv')

In [71]:
! ls df1.csv

_SUCCESS
part-00000-38ebd5a2-ff1b-42a4-aa48-437af9b7ff38-c000.csv
part-00001-38ebd5a2-ff1b-42a4-aa48-437af9b7ff38-c000.csv
part-00002-38ebd5a2-ff1b-42a4-aa48-437af9b7ff38-c000.csv
part-00003-38ebd5a2-ff1b-42a4-aa48-437af9b7ff38-c000.csv

In [72]:
! head df1.csv/part-00000-38ebd5a2-ff1b-42a4-aa48-437af9b7ff38-c000.csv

03/04/2019 19:48:06,loc0,29
03/04/2019 19:53:06,loc0,27
03/04/2019 19:58:06,loc0,28
03/04/2019 20:03:06,loc0,30
03/04/2019 20:08:06,loc0,27
03/04/2019 20:13:06,loc0,27
03/04/2019 20:18:06,loc0,27
03/04/2019 20:23:06,loc0,29
03/04/2019 20:28:06,loc0,32
03/04/2019 20:33:06,loc0,35

In [73]:
df1.write.json('df1.json')

In [74]:
! ls df1.json

_SUCCESS
part-00000-f5f8eaab-3476-4ed2-962e-3865e8022d3d-c000.json
part-00001-f5f8eaab-3476-4ed2-962e-3865e8022d3d-c000.json
part-00002-f5f8eaab-3476-4ed2-962e-3865e8022d3d-c000.json
part-00003-f5f8eaab-3476-4ed2-962e-3865e8022d3d-c000.json

In [76]:
! head df1.json/part-00000-f5f8eaab-3476-4ed2-962e-3865e8022d3d-c000.json

{"event_date":"03/04/2019 19:48:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 19:53:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 19:58:06","location_id":"loc0","temp_celcius":"28"}
{"event_date":"03/04/2019 20:03:06","location_id":"loc0","temp_celcius":"30"}
{"event_date":"03/04/2019 20:08:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:13:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:18:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:23:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 20:28:06","location_id":"loc0","temp_celcius":"32"}
{"event_date":"03/04/2019 20:33:06","location_id":"loc0","temp_celcius":"35"}

##  --- SPARK SQL ---

In [80]:
json_df1_path = data_path + '/utlization.json'
df = spark.read.format('json').load(json_df1_path)
df.show(5)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [81]:
df.count()

500000

In [82]:
df.createOrReplaceTempView('utilization')

In [83]:
df_sql = spark.sql('SELECT * FROM utilization LIMIT 10')

In [84]:
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [86]:
df_sql = spark.sql('SELECT server_id, session_count FROM utilization LIMIT 10')
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [88]:
df_sql = spark.sql('SELECT server_id AS SID, session_count AS SC FROM utilization LIMIT 10')
df_sql.show(5)

+---+---+
|SID| SC|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
+---+---+
only showing top 5 rows

In [90]:
df_sql = spark.sql('SELECT * FROM utilization WHERE server_id = 140')
df_sql.show(5)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.61|03/05/2019 08:07:25|       0.15|      140|           69|
|           0.48|03/05/2019 08:12:25|       0.36|      140|           65|
|           0.48|03/05/2019 08:17:25|       0.36|      140|           62|
|           0.74|03/05/2019 08:22:25|       0.31|      140|           79|
|           0.55|03/05/2019 08:27:25|       0.51|      140|           68|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [91]:
df_sql.count()

10000

In [94]:
df_sql = spark.sql('SELECT server_id, session_count FROM utilization WHERE session_count > 70')
df_sql.show(5)

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
+---------+-------------+
only showing top 5 rows

In [95]:
df_sql.count()

239659

In [97]:
df_sql = spark.sql('SELECT server_id, session_count \
                    FROM utilization WHERE session_count > 70 AND server_id = 120')
df_sql.show(5)
df_sql.count()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           71|
|      120|           73|
|      120|           72|
|      120|           78|
+---------+-------------+
only showing top 5 rows

2733

In [98]:
df_sql = spark.sql('SELECT server_id, session_count \
                    FROM utilization \
                    WHERE session_count > 70 AND server_id = 120 \
                    ORDER BY session_count DESC')
df_sql.show(5)

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
+---------+-------------+
only showing top 5 rows

## 2
Operations with SQL

In [100]:
df.show(5)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 5 rows

In [101]:
df.createOrReplaceTempView('utilization')

In [103]:
df_count = spark.sql('SELECT count(*) FROM utilization')
df_count.show()

+--------+
|count(1)|
+--------+
|  500000|
+--------+

In [104]:
df_sql = spark.sql('SELECT count(*) \
                    FROM utilization \
                    WHERE session_count > 70')
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [109]:
df_sql = spark.sql('SELECT server_id as S_ID, count(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id')
df_sql.show(5)

+----+--------+
|S_ID|count(1)|
+----+--------+
| 103|    8744|
| 104|    7366|
| 100|     391|
| 105|    1110|
| 101|    9808|
+----+--------+
only showing top 5 rows

In [111]:
df_sql = spark.sql('SELECT server_id as S_ID, count(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC')
df_sql.show(5)

+----+--------+
|S_ID|count(1)|
+----+--------+
| 101|    9808|
| 113|    9418|
| 145|    9304|
| 103|    8744|
| 102|    8586|
+----+--------+
only showing top 5 rows

In [115]:
df_sql = spark.sql('SELECT server_id as S_ID, min(session_count) AS min, \
                    round(avg(session_count),2) AS avg, max(session_count) AS max \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC')
df_sql.show(5)

+----+---+-----+---+
|S_ID|min|  avg|max|
+----+---+-----+---+
| 101| 71|87.67|105|
| 113| 71|86.96|103|
| 145| 71|86.98|103|
| 103| 71|85.76|101|
| 102| 71|85.71|101|
+----+---+-----+---+
only showing top 5 rows

## 3
Joins

In [119]:
df_util = df
df_util.show(2)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 2 rows

In [120]:
df_util.createOrReplaceTempView('utilization')

In [122]:
csv_df_path = data_path + '/server_name.csv'
df_server = spark.read.csv(csv_df_path, header = True)
df_server.show(5)

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
+---------+-----------+
only showing top 5 rows

In [123]:
df_server.createOrReplaceTempView('server_name')

In [125]:
df_count = spark.sql('SELECT DISTINCT server_id \
                      FROM utilization \
                      ORDER BY server_id')
df_count.show(5)

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
+---------+
only showing top 5 rows

In [127]:
spark.sql('SELECT min(server_id), max(server_id) FROM utilization').show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [12]:
df_join = spark.sql('SELECT u.server_id, sn.server_name, u.session_count \
                      FROM utilization AS u \
                      INNER JOIN server_name AS sn\
                      ON sn.server_id = u.server_id')
df_join.show(5)

AnalysisException: Table or view not found: utilization; line 1 pos 79;
'Project ['u.server_id, 'sn.server_name, 'u.session_count]
+- 'Join Inner, ('sn.server_id = 'u.server_id)
   :- 'SubqueryAlias u
   :  +- 'UnresolvedRelation [utilization], [], false
   +- 'SubqueryAlias sn
      +- 'UnresolvedRelation [server_name], [], false

## 4
Cleaning data

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at /var/folders/q3/19rgddrx3zs2lvc4fk6mgdjc0000gn/T/ipykernel_4854/2098644118.py:4

In [13]:
df_dup = spark.parallelize([Row(server_name='101 Server', cpu_utilization=85, session_count=80), \
                         Row(server_name='101 Server', cpu_utilization=80, session_count=90),
                         Row(server_name='102 Server', cpu_utilization=85, session_count=80),
                         Row(server_name='102 Server', cpu_utilization=85, session_count=80)]).toDF()
df_dup.show()

AttributeError: 'SparkSession' object has no attribute 'parallelize'

In [ ]:
df_dup.drop_duplicates().show()

In [ ]:
df_dup.drop_duplicates(['server_name']).show()

## 5
NA Values

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType

In [2]:
df = sc.parallelize([Row(server_name='101 Server', cpu_utilization=85, session_count=80), \
                             Row(server_name='101 Server', cpu_utilization=80, session_count=90),
                             Row(server_name='102 Server', cpu_utilization=85, session_count=40),
                             Row(server_name='103 Server', cpu_utilization=70, session_count=80),
                             Row(server_name='104 Server', cpu_utilization=60, session_count=80)]).toDF()

NameError: name 'sc' is not defined

In [ ]:
df2.na.drop().show()

In [ ]:
spark.sql("SELECT * FROM na_table WHERE na_col IS NULL").show()

# ---DATA ANALYSIS---

## 1
Exploratory data analysis and ML

In [16]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
data_path = '/Users/aaron/Downloads/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data'

In [17]:
flie_path_no_header = data_path + '/utilization.csv'
df_util = spark.read.format('csv').option('header','false').option('inferSchema','true').load(flie_path_no_header)

In [ ]:
df_util = df_util.withColumnRenamed('_c0','event_datetime') \
         .withColumnRenamed('_c1','server_id') \
         .withColumnRenamed('_c2','cpu_utilization') \
         .withColumnRenamed('_c3','free_memory') \
         .withColumnRenamed('_c4','session_count')

In [21]:
df_util.show(5)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
+-------------------+---------+---------------+-----------+-------------+
only showing top 5 rows

In [22]:
df_util.createOrReplaceTempView("utilization")

In [25]:
df_util.describe().show()

+-------+-------------------+------------------+-------------------+-------------------+------------------+
|summary|     event_datetime|         server_id|    cpu_utilization|        free_memory|     session_count|
+-------+-------------------+------------------+-------------------+-------------------+------------------+
|  count|             500000|            500000|             500000|             500000|            500000|
|   mean|               null|             124.5| 0.6205177400000115|0.37912809999999625|          69.59616|
| stddev|               null|14.430884120553204|0.15875173872912818|0.15830931278376212|14.850676696352831|
|    min|03/05/2019 08:06:14|               100|               0.22|                0.0|                32|
|    max|04/09/2019 01:22:46|               149|                1.0|               0.78|               105|
+-------+-------------------+------------------+-------------------+-------------------+------------------+

In [26]:
df_util.stat.corr('cpu_utilization','free_memory')

-0.4704771573080722

In [27]:
df_util.stat.corr('session_count','free_memory')

-0.5008320848876588

In [32]:
df_util.stat.freqItems(('session_count','server_id')).show()

+-----------------------+--------------------+
|session_count_freqItems| server_id_freqItems|
+-----------------------+--------------------+
|   [92, 101, 83, 104...|[146, 137, 101, 1...|
+-----------------------+--------------------+

In [36]:
df_sample = df_util.sample(fraction = 0.3,withReplacement = False)
df_sample.count()

149686

Using spark SQL

In [37]:
spark.sql('SELECT min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) FROM utilization').show()

+--------------------+--------------------+-----------------------+
|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+--------------------+--------------------+-----------------------+
|                0.22|                 1.0|    0.15875173872912818|
+--------------------+--------------------+-----------------------+

In [39]:
spark.sql('SELECT server_id, min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
           FROM utilization \
           GROUP BY server_id').show(5)

+---------+--------------------+--------------------+-----------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+---------+--------------------+--------------------+-----------------------+
|      108|                0.55|                0.95|    0.11563100171171926|
|      101|                 0.6|                 1.0|    0.11651726263197697|
|      103|                0.56|                0.96|    0.11617507884178278|
|      111|                0.36|                0.76|    0.11530221569464483|
|      107|                0.45|                0.85|    0.11597417369783877|
+---------+--------------------+--------------------+-----------------------+
only showing top 5 rows

In [43]:
spark.sql('SELECT server_id, FLOOR(cpu_utilization*100/10) bucket FROM utilization').show(5)

+---------+------+
|server_id|bucket|
+---------+------+
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
+---------+------+
only showing top 5 rows

22/07/26 18:20:51 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 915629 ms exceeds timeout 120000 ms
22/07/26 18:20:51 WARN SparkContext: Killing executors is not supported by current scheduler.

## 2
Time series

In [45]:
df_util.createOrReplaceTempView("utilization")
df_util.show(5)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
+-------------------+---------+---------------+-----------+-------------+
only showing top 5 rows

In [47]:
spark.sql('SELECT server_id, min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
           FROM utilization \
           GROUP BY server_id').show(5)

+---------+--------------------+--------------------+-----------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev(cpu_utilization)|
+---------+--------------------+--------------------+-----------------------+
|      108|                0.55|                0.95|    0.11563100171171926|
|      101|                 0.6|                 1.0|    0.11651726263197697|
|      103|                0.56|                0.96|    0.11617507884178278|
|      111|                0.36|                0.76|    0.11530221569464483|
|      107|                0.45|                0.85|    0.11597417369783877|
+---------+--------------------+--------------------+-----------------------+
only showing top 5 rows

In [51]:
sql_window = spark.sql("SELECT event_datetime, server_id, cpu_utilization,  \
         avg(cpu_utilization) OVER (PARTITION BY server_id) avg_server_util \
FROM  \
      utilization")
sql_window.show(5)

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:16|      101|           0.86|0.7985559999999872|
|03/05/2019 08:11:16|      101|           0.71|0.7985559999999872|
|03/05/2019 08:16:16|      101|           0.77|0.7985559999999872|
|03/05/2019 08:21:16|      101|           0.88|0.7985559999999872|
|03/05/2019 08:26:16|      101|           0.95|0.7985559999999872|
+-------------------+---------+---------------+------------------+
only showing top 5 rows

In [52]:
sql_window2 = spark.sql("SELECT event_datetime, server_id, cpu_utilization,  \
         avg(cpu_utilization) OVER (PARTITION BY server_id) avg_server_util, \
         cpu_utilization - avg(cpu_utilization) OVER (PARTITION BY server_id) delta_server_util \
         FROM utilization")
sql_window2.show(5)

+-------------------+---------+---------------+------------------+--------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|   delta_server_util|
+-------------------+---------+---------------+------------------+--------------------+
|03/05/2019 08:06:16|      101|           0.86|0.7985559999999872| 0.06144400000001282|
|03/05/2019 08:11:16|      101|           0.71|0.7985559999999872| -0.0885559999999872|
|03/05/2019 08:16:16|      101|           0.77|0.7985559999999872|-0.02855599999998...|
|03/05/2019 08:21:16|      101|           0.88|0.7985559999999872| 0.08144400000001284|
|03/05/2019 08:26:16|      101|           0.95|0.7985559999999872|  0.1514440000000128|
+-------------------+---------+---------------+------------------+--------------------+
only showing top 5 rows

In [53]:
sql_window3 = spark.sql("SELECT event_datetime, server_id, cpu_utilization,  \
                        avg(cpu_utilization) OVER (PARTITION BY server_id ORDER BY event_datetime \
                        ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING) avg_server_util \
                        FROM  \
                        utilization")
sql_window3.show(5)

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:16|      101|           0.86|0.7849999999999999|
|03/05/2019 08:11:16|      101|           0.71|0.7799999999999999|
|03/05/2019 08:16:16|      101|           0.77|0.7866666666666666|
|03/05/2019 08:21:16|      101|           0.88|0.8666666666666666|
|03/05/2019 08:26:16|      101|           0.95|0.9033333333333333|
+-------------------+---------+---------------+------------------+
only showing top 5 rows

## 3
Clustering & ML

In [57]:
df_util.createOrReplaceTempView("utilization")
df_util.show(1)

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
+-------------------+---------+---------------+-----------+-------------+
only showing top 1 row

In [55]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

In [59]:
vectorAssembler = VectorAssembler(inputCols=['cpu_utilization','free_memory','session_count'], outputCol='features')

In [60]:
vclusters_df = vectorAssembler.transform(df_util)

In [61]:
vclusters_df.show()

+-------------------+---------+---------------+-----------+-------------+----------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|        features|
+-------------------+---------+---------------+-----------+-------------+----------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|[0.57,0.51,47.0]|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|[0.47,0.62,43.0]|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|[0.56,0.57,62.0]|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|[0.57,0.56,50.0]|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|[0.35,0.46,43.0]|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|[0.41,0.58,48.0]|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|[0.57,0.35,58.0]|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58| [0.41,0.4,58.0]|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|[0.53,0.35,62.0]|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45| [0.51,0.6,45.0]|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|[0.32,0.37,47.0]|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|[0.62,0.59,60.0]|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|[0.66,0.72,57.0]|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|[0.54,0.54,44.0]|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47| [0.29,0.4,47.0]|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|[0.43,0.68,66.0]|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|[0.49,0.66,65.0]|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|[0.64,0.55,66.0]|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42| [0.42,0.6,42.0]|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|[0.55,0.59,63.0]|
+-------------------+---------+---------------+-----------+-------------+----------------+
only showing top 20 rows

In [66]:
kmeans = KMeans().setK(3)

In [67]:
kmeans = kmeans.setSeed(1)

In [69]:
kmodel = kmeans.fit(vclusters_df)

In [70]:
kmodel.clusterCenters()

[array([ 0.71174897,  0.28808911, 86.87510507]),
 array([ 0.61918113,  0.38080285, 68.75004716]),
 array([ 0.51439668,  0.48445202, 50.49452021])]

In [71]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

In [75]:
vectorAssembler = VectorAssembler(inputCols=["cpu_utilization"], outputCol="features")
df_vutil = vectorAssembler.transform(df_util)
df_vutil.show(5)

+-------------------+---------+---------------+-----------+-------------+--------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|features|
+-------------------+---------+---------------+-----------+-------------+--------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|  [0.57]|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|  [0.47]|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|  [0.56]|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|  [0.57]|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|  [0.35]|
+-------------------+---------+---------------+-----------+-------------+--------+
only showing top 5 rows

In [73]:
lr = LinearRegression(featuresCol="features",labelCol="session_count")
lrModel = lr.fit(df_vutil)

22/07/27 10:18:28 WARN Instrumentation: [6cf19752] regParam is zero, which might cause numerical instability and overfitting.
22/07/27 10:18:29 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
22/07/27 10:18:29 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS

22/07/27 10:18:31 WARN InstanceBuilder$NativeLAPACK: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK

In [76]:
lrModel.coefficients

DenseVector([47.024])

In [77]:
lrModel.intercept

40.41695103553592

In [78]:
lrModel.summary.rootMeanSquaredError

12.837990225931861